
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;  
}

.navbar {
    padding-top:30px;
    padding-left: 30px;
    padding-bottom: 0px;
}

.navbar a {
    color: gray;
    text-decoration: none;
    font-weight: 900;
    font-size: larger;
}

.card {
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}


h2{
    text-align: center;
    padding: 5px;
    font-size: x-large;
}

.footer {
    color: gray;
    text-align: center;
    padding: 10px 0 0 0;
    margin-bottom: 0%;
    width: 100%;
}

.subtitle {
    font-size: 16px;
    color: gray;
}

.location{
    font-size: 14px;
    color: gray;
}

.fas, .fab {
    margin-right: 8px; /* 让图标和文字之间有间隔 */
}

