
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding: 0 100px 0 100px;
    
}

.navbar {
    padding-top:30px;
    padding-left: 30px;
    padding-bottom: 0px;
}

.navbar a {
    color: gray;
    text-decoration: none;
    font-weight: 900;
    font-size: larger;
}

.card {
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

img{
    width: 300px;
    padding: 10px;
}

h2{
    text-align: center;
    padding: 5px;
    font-size: x-large;
}

.footer {
    color: gray;
    text-align: center;
    padding: 10px 0 0 0;
    margin-bottom: 0%;
    width: 100%;
}

.project-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-text {
    flex: 1;
    padding-right: 20px;
}

.project-text ul {
    padding-left: 20px;
}


.project-image img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}